<div class="container" layout="column" style="margin-bottom:100px;">
  <h2 class="md-display-1">Employees (From Training System)</h2>
  <dir-pagination-controls class="SmallPagination" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
  <form novalidate ng-submit="onSubmit();">
    <button class="hidden-print" type="submit" ng-hide="true"></button>
    <div class="table-responsive TableEditable" style="max-width: 100%;">
      <table class="table table-condensed ">
        <thead>
          <tr>
            <th>Employee</th>
          </tr>
        </thead>
        <tbody>
          <tr
            dir-paginate="item in baseList | itemsPerPage: filterOptions.perPage track by $index"
            total-items="filterOptions.itemsCount"
            current-page="filterOptions.page"
            ng-show="!isLoading"
          >
            <td>
              <md-input-container flex>
                <label></label> <input type="text" disabled autocomplete="off" style="text-align: left;" ng-model="item.Value" />
              </md-input-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
