<div class="" layout="column" style="margin-bottom:100px;">
  <md-input-container flex>
    <label>Value</label>
    <input autocomplete="off" style="text-align: left;" ng-model="baseEntity.Value" ng-disabled="isDisabled" /> </md-input-container
  ><md-input-container flex>
    <label>Material Description</label>
    <textarea ng-model="baseEntity.MaterialDescription" ng-disabled="isDisabled"></textarea> </md-input-container
  ><md-input-container flex>
    <label>Material Revision</label>
    <input
      autocomplete="off"
      style="text-align: left;"
      ng-model="baseEntity.MaterialRevision"
      ng-disabled="isDisabled"
    /> </md-input-container
  ><md-input-container flex>
    <label>Min</label>
    <input type="number" style="text-align: right" ng-model="baseEntity.Min" ng-disabled="isDisabled" /> </md-input-container
  ><md-input-container flex>
    <label>Max</label> <input type="number" style="text-align: right" ng-model="baseEntity.Max" ng-disabled="isDisabled" />
  </md-input-container>
</div>
