<div class="container" layout="column" style="margin-bottom:100px;">
  <h2 class="md-display-1">Areas</h2>
  <dir-pagination-controls class="SmallPagination" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
  <form novalidate ng-submit="onSubmit();">
    <button class="hidden-print" type="submit" ng-hide="true"></button>
    <div class="table-responsive TableEditable" style="max-width: 100%;">
      <table class="table table-condensed ">
        <thead>
          <tr>
            <th></th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr
            dir-paginate="item in baseList | itemsPerPage: filterOptions.perPage track by $index"
            total-items="filterOptions.itemsCount"
            current-page="filterOptions.page"
            ng-show="!isLoading"
          >
            <td>
              <div class="row" layout="column" layout-gt-xs="row" layout-padding>
                <md-button class="" ng-click="openItem(item, $event);"><md-icon>edit</md-icon>Open</md-button
                ><md-button class="md-warn md-hue-1" ng-click="removeItem(item, $event);"><md-icon>delete</md-icon>Remove</md-button>
              </div>
            </td>
            <td>
              <md-input-container flex>
                <label></label> <input type="text" disabled autocomplete="off" style="text-align: left;" ng-model="item.Value" />
              </md-input-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<modal modal-id="modal-Area" title="Area" ok-label="Save" max-width="500">
  <modal-body> <areas-form class=""></areas-form> </modal-body>
</modal>
<nav class="toolbar-bottom">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <span flex></span
      ><md-button
        class="md-fab md-primary"
        aria-label="New"
        ng-click="create($event)"
        style="position: fixed;bottom: 30px;right: 40px;width: 70px;height: 70px;font-size: 50px;padding: 0;"
        ng-disabled="formMode =='create'"
      >
        <md-tooltip md-direction="left">New</md-tooltip>
        <md-icon style="margin: 0;font-size: 50px;top: -12px;position: relative;left: 10px;">add</md-icon> </md-button
      ><span style="width:80px;"></span>
    </div>
  </md-toolbar>
</nav>
<style>
  body {
    padding-bottom: 112px;
  }

  @media screen and (min-width: 960px) {
    @media (min-width: 960px) {
      body {
        padding-bottom: 128px;
      }
    }
  }
</style>
