<form novalidate ng-submit="onSubmit();">
  <button class="hidden-print" type="submit" ng-hide="true"></button>
  <div class="table-responsive TableEditable" style="max-width: 100%;">
    <table class="table table-condensed ">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Material</th>
          <th>Material Description</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr
          dir-paginate="item in baseList | itemsPerPage: filterOptions.perPage track by $index"
          total-items="filterOptions.itemsCount"
          current-page="filterOptions.page"
          ng-show="!isLoading"
        >
          <td>
            <md-input-container flex>
              <label></label>
              <input
                autocomplete="off"
                type="number"
                ng-change="handleDynamicRows(baseList);onInputChange(item);"
                style="text-align: right"
                ng-model="item.Quantity"
                ng-disabled="isDisabled"
              />
            </md-input-container>
          </td>
          <td>
            <autocomplete
              service="CatMaterialService"
              caption=" "
              owner-entity="item"
              property="CatMaterial"
              value-property="Value"
              property-key="CatMaterialKey"
              on-change="undefined"
            >
            </autocomplete>
          </td>
          <td>
            <md-input-container flex>
              <label></label>
              <textarea ng-change="handleDynamicRows(baseList);onInputChange(item);" disabled ng-model="item.CatMaterial.MaterialDescription">
              </textarea>
            </md-input-container>
          </td>
          <td>
            <autocomplete
              service="CatGeoLocationService"
              caption=" "
              owner-entity="item"
              property="CatGeoLocation"
              value-property="Value"
              property-key="CatGeoLocationKey"
              on-change="undefined"
            >
            </autocomplete>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
