<div class="container" layout="column" style="margin-bottom:100px;">
  <h2 class="md-display-1">Locations</h2>
  <dir-pagination-controls class="SmallPagination" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
  <form novalidate ng-submit="onSubmit();">
    <button type="submit" ng-hide="true"></button>
    <div class="table-responsive TableEditable" style="max-width: 100%;">
      <table class="table table-condensed ">
        <thead>
          <tr>
            <th></th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3" style="height: 15px;"></td>
          </tr>
          <tr
            dir-paginate="item in baseList | itemsPerPage: filterOptions.perPage track by $index"
            total-items="filterOptions.itemsCount"
            current-page="filterOptions.page"
            ng-show="!isLoading"
          >
            <td>
              <md-button class="" ng-click="openItem(item, $event);"><md-icon>edit</md-icon>Open</md-button
              ><md-button class=" md-warn md-hue-1" ng-click="removeItem(item, $event);"><md-icon>delete</md-icon>Remove</md-button>
            </td>
            <td>
              <md-input-container flex>
                <label></label> <input disabled autocomplete="off" style="text-align: left;" ng-model="item.Value" />
              </md-input-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<modal modal-id="modal-Locations" title="Locations" ok-label="Save" max-width="500">
  <modal-body> <locations-form class=""></locations-form> </modal-body> </modal
><locations-toolbar class=""></locations-toolbar>
