<dir-pagination-controls class="SmallPagination" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
<form novalidate ng-submit="onSubmit();">
  <button type="submit" ng-hide="true"></button>
  <div class="table-responsive TableEditable" style="max-width: 100%;">
    <table class="table table-condensed ">
      <thead>
        <tr>
          <th></th>
          <th>Quantity</th>
          <th>Part Number</th>
          <th>Material Description</th>
          <th>Cost</th>
          <th>Status</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="8" style="height: 15px;"></td>
        </tr>
        <tr
          dir-paginate="item in baseList | itemsPerPage: filterOptions.perPage track by $index"
          total-items="filterOptions.itemsCount"
          current-page="filterOptions.page"
          ng-show="!isLoading"
        >
          <td>
            <div class="row" layout="column" layout-gt-xs="row" layout-padding>
              <md-button class="md-warn md-hue-1 btn-small" ng-click="removeItem(item, $event);"><md-icon>delete</md-icon>Remove</md-button>
            </div>
          </td>
          <td>
            <md-input-container flex>
              <label></label>
              <input
                autocomplete="off"
                type="number"
                ng-change="handleDynamicRows(baseList);onInputChange(item);"
                style="text-align: right"
                ng-model="item.Quantity"
                ng-disabled="isDisabled"
              />
            </md-input-container>
          </td>
          <td>
            <autocomplete
              service="CatMaterialService"
              caption=" "
              owner-entity="item"
              property="CatMaterial"
              value-property="Value"
              property-key="CatMaterialKey"
              on-change="undefined"
            >
            </autocomplete>
          </td>
          <td>
            <md-input-container flex>
              <label></label>
              <textarea ng-change="handleDynamicRows(baseList);onInputChange(item);" disabled ng-model="item.MaterialDescription">
              </textarea>
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label>
              <input
                autocomplete="off"
                type="number"
                ng-change="handleDynamicRows(baseList);onInputChange(item);"
                style="text-align: right"
                ng-model="item.Cost"
                ng-disabled="isDisabled"
              />
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label>
              <input
                ng-change="handleDynamicRows(baseList);onInputChange(item);"
                autocomplete="off"
                style="text-align: left;"
                ng-model="item.Status"
                ng-disabled="isDisabled"
              />
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label>
              <input
                autocomplete="off"
                type="number"
                ng-change="handleDynamicRows(baseList);onInputChange(item);"
                style="text-align: right"
                ng-model="item.Balance"
                ng-disabled="isDisabled"
              />
            </md-input-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
