<dir-pagination-controls class="SmallPagination" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
<form novalidate ng-submit="onSubmit();">
  <button type="submit" ng-hide="true"></button>
  <div class="table-responsive TableEditable" style="max-width: 100%;">
    <table class="table table-condensed ">
      <thead>
        <tr>
          <th></th>
          <th>Quantity</th>
          <th>Balance</th>
          <th>Status</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>
            <md-input-container flex>
              <label></label> <input type="number" style="text-align: right" ng-model="baseEntity.Quantity" />
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label> <input type="number" style="text-align: right" ng-model="baseEntity.Balance" />
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label> <input autocomplete="off" style="text-align: left;" ng-model="baseEntity.Status" />
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label> <input type="number" style="text-align: right" ng-model="baseEntity.Cost" />
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="height: 15px;"></td>
        </tr>
        <tr
          dir-paginate="item in baseList | itemsPerPage: filterOptions.perPage track by $index"
          total-items="filterOptions.itemsCount"
          current-page="filterOptions.page"
          ng-show="!isLoading"
        >
          <td><md-button class="" ng-click="removeItem(item, $event);">Remove</md-button></td>
          <td>
            <md-input-container flex>
              <label></label> <input type="number" disabled style="text-align: right" ng-model="item.Quantity" />
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label> <input type="number" disabled style="text-align: right" ng-model="item.Balance" />
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label> <input disabled autocomplete="off" style="text-align: left;" ng-model="item.Status" />
            </md-input-container>
          </td>
          <td>
            <md-input-container flex>
              <label></label> <input type="number" disabled style="text-align: right" ng-model="item.Cost" />
            </md-input-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
